<div class="card-item">
  <img src="../../../../assets/img/car-card.png" >

  <div class="card-content">
    <h3>{{oferta.modelo}} </h3>
   <span class="oferta-valor">{{oferta.valor}}</span>

   <div class="oferta-valor-mes">
     <small>{{oferta.valorParcelaMes}}</small>
     <small>{{oferta.quantidadeParcelas}}</small>
   </div>

   <div class="oferta-ano-km">
     <span>{{oferta.anoVeiculo}}</span>
     <span>{{oferta.km}}</span>
   </div>

    <button type="button">I want this!</button>
  </div>

</div>
