<header>
  <div class="content">
    <nav>
      <p class="brand">
        Maya <strong>Car</strong>
      </p>

      <ul>
        <li><a href="#"> Catalog</a>
        <li><a href="#"> About</a>
        <li><a href="#"> Features</a>
      </ul>
    </nav>

    <div class="header-block">
      <div class="text">
        <h2> The perfect car for you</h2>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos libero optio labore magnam
          numquam,
          dolorum repellendus debitis omnis cupiditate magni totam? Minima sequi quod dicta quam
          repudiandae labore rem Ipsam enim ullam laudantium.
        </p>
      </div>

      <img src="assets/img/car-header.png" alt="Car">

    </div>
  </div>
</header>
