@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

/* VARIAVES DE CORES */
:root {
  --orange: #f78b00;
  --blue: #00285f;
  --gray: #ededed;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}
